
.transaction-list {
    margin: 1rem;
    background-color: transparent;
}
.transaction-list .header {
    padding: 1rem;
    padding-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.transaction-list .header .filter-field {
    border: 2px solid #ddd;
    padding: .7rem;
    border-radius: 4px;
    width: 40rem;
    outline: none;
}
.transaction-list .header .filter-field:focus {
    border-bottom-color: #aaa;
}
.transaction-list .header .filter-button {
    padding: .7rem 1.5rem;
    color: transparent;
    border: 2px solid rgb(12, 156, 72);
    border-radius: 0 4px 4px 0;
    background-color: rgb(12, 156, 72);
    margin: 0;
    margin-left: -1rem;
    margin-bottom: 1.5rem;
    opacity: .98;
    box-shadow: 0 0 5px #777;
}
.transaction-list .header .filter-button:hover {
    opacity: .9;
}
.transaction-list .header .filter-button:active {
    opacity: 1;
    box-shadow: none;
    transform: scale(.98);
}

.transaction-list .header .header-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}
.transaction-list .header .header-columns p {
    gap: .5rem;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    color: #aaa;
    padding: 1rem;
}

.transaction-list .header .header-columns p span {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #999;
}
.transaction-list .header .header-columns p span + span {
    transform: translateY(-.5rem);
}

.sort-buttons button {
    color: #999;
    font-size: .5rem;
    background-color:transparent;
    padding: 0;
    transform: scale(1.2);
}
.content .content-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: visible;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    opacity: .8;
    border-radius: 2px;
    margin-top: 8px;
    box-shadow: 0 1px 5px #aaa;
}
.content .content-item.reverted {
    background-color: rgba(245, 245, 245, .3);
}
.content .content-item.reverted p {
    opacity: .3;
}
.content .content-item.reverted p.btn-section {
    opacity: 1;
}
.content .content-item p {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    padding: 1rem;
    background-color: transparent;
}
.content .content-item.payment {
    border-left: 5px solid #f88;
}
.content .content-item p .payment {
    padding: .3rem .5rem;
    border: 1px solid #f00;
    border-radius: 4px;
    background-color: transparent;
}
.content .content-item.receipt {
    border-left: 5px solid #3b3;
}
.content .content-item p .receipt {
    padding: .3rem .5rem;
    border: 1px solid #090;
    border-radius: 4px;
    background-color: transparent;
}
.btn-section {
    display: inline-flex;
    flex-direction: column;
    height: 5rem;
    cursor: pointer;
    text-align: center !important;
}
.btn-section.hidden::after {
    content: "...";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    color: #000;
    font-size: 1.5rem;
    transform: rotate(90deg);
}

.transaction-info article {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.items-menu.hidden {
    transform: translateX(30px);
    opacity: 0;
    pointer-events: none;
    transition: transform .3s ease-in-out, opacity .1s ease-in;
}

.items-menu {
    position: absolute;
    top: 7rem;
    right: 7rem;
    min-height: 2rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0;
    border-radius: 4px;
    border: 1px solid #aaa;
    transition: transform .1s ease-in-out, opacity .3s ease-in;
}
.items-menu::after {
    content: "";
    position: absolute;
    display: block;
    right: -.5rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    z-index: 1;
}
.items-menu button {
    display: block;
    flex: 1;
    min-height: 2rem;
    width: 100%;
    text-align: left;
    z-index: 1000;
}
.items-menu button:hover {
    background-color: #ccc;
}
.items-menu button span {
    visibility: hidden;
}
.items-menu button.hidden {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    z-index: -1;
}

.content .col1 {
    font-weight: bold;
}
.col1 {
    flex: 2 !important;
}
.col4 {
    display: none;
    visibility: hidden;
    width: 0;
    float: left;
}

@media screen and (width < 840px) {
    .transaction-list .header .filter-field {
        width: calc(100% - 4rem);
    }
    
    .col2, .col4 {
        display: none;
        visibility: hidden;
        width: 0;
        float: left;
    }

    .transaction-list .header .header-columns p {
        overflow: visible;
    }
}

@media screen and (width < 720px) {
    .col3 {
        display: none;
        visibility: hidden;
        width: 0;
        float: left;
    }
}