html, body, * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #656565;
    background-color: #fff;
}

::placeholder {
    color: #ccc;
    opacity: 1;
}
::-ms-input-placeholder {
    color: #ccc;
}

html, body {
    background-color: rgb(240, 240, 240)
}

button {
    cursor: pointer;
}

header.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem 2rem;
    box-shadow: 0 0 7px #999;
    font-weight: 600;
}

header.title button {
    background-color: rgb(12, 156, 72);
    padding: .4em 1em;
    border-radius: 2rem;
    color: #FFF;
    font-weight: 600px;
}
header.title span {
    font-size: 1.2em;
    font-weight: 600px;
    color: #FFF;
    background-color: transparent;
}

.transaction-list {
    margin: 1rem;
    padding: 2rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.transaction-list .header .filter-field {
    border: 2px solid #ddd;
    padding: .7rem;
    border-radius: 4px;
    width: 40rem;
    outline: none;
}
.transaction-list .header .filter-field:focus {
    border-bottom-color: #aaa;
}
.transaction-list .header .filter-button {
    padding: .7rem 1.5rem;
    color: transparent;
    border: 2px solid rgb(12, 156, 72);
    border-radius: 0 4px 4px 0;
    background-color: rgb(12, 156, 72);
    margin: 0;
    margin-left: -1rem;
    margin-bottom: 1.5rem;
    opacity: .98;
    box-shadow: 0 0 5px #777;
}
.transaction-list .header .filter-button:hover {
    opacity: .9;
}
.transaction-list .header .filter-button:active {
    opacity: 1;
    box-shadow: none;
    transform: scale(.98);
}

.transaction-list .header .header-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}
.transaction-list .header .header-columns p {
    display: flex;
    gap: .5rem;
    width: 15%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #aaa;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.transaction-list .header .header-columns p span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1rem;
    color: #999;
}

.sort-buttons button {
    color: #999;
    font-size: .5rem;
    background-color:transparent;
    padding: 0;
    transform: scale(1.2);
}

.content .content-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: visible;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    background-color: rgba(245, 245, 245, 1);
    opacity: .8;
}
.content .content-item.reverted {
    background-color: rgba(245, 245, 245, .3);
}
.content .content-item.reverted p {
    opacity: .3;
}
.content .content-item.reverted p.btn-section {
    opacity: 1;
}
.content .content-item p {
    width: 15%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
}
.content .content-item p .payment {
    padding: .3rem .5rem;
    border: 1px solid #f00;
    border-radius: 4px;
    background-color: #fdd;
    color: #f00;
}
.content .content-item p .receipt {
    padding: .3rem .5rem;
    border: 1px solid #090;
    border-radius: 4px;
    background-color: #dfd;
    color: #090;
}
.btn-section {
    display: inline-flex;
    flex-direction: column;
    height: 5rem;
    cursor: pointer;
}
.btn-section.hidden::after {
    content: "...";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    color: #000;
    font-size: 1.5rem;
    transform: rotate(90deg);
}

.popup-screen.hidden {
    opacity: 0;
    transform: scale(0);
    transition: all .5s .2s ease-in-out;
}

.popup-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .2);
    transition: all .5s ease-in-out;
}

.popup-screen.hidden .popup-content {
    transform: translateY(15rem);
    opacity: 0;
    transition: all .5s ease-in-out;
}
.popup-screen .popup-content {
    padding: 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    box-shadow: 0 0 15rem #777;
    transition: all .5s .5s ease-in-out;
}
.popup-screen .popup-content .popup-title {
    display: block;
    position: relative;
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid #eee;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.popup-screen .popup-content .popup-title button {
    position: absolute;
    right: .2rem;
    top: .2rem;
    font-size: 2rem;
    line-height: 2rem;
    height: 3rem;
    width: 3rem;
    transform: rotate(45deg) scale(.7);
    border: 1px solid #f00;
    border-radius: 50%;
    background-color: #fdd;
    color: #f00;
    box-shadow: 0 0 9px #aaa;
}
.popup-screen .popup-content .popup-title button:hover {
    opacity: .8;
}
.popup-screen .popup-content .popup-title button:active {
    box-shadow: 0 0 0;
}
.popup-screen .popup-content .popup-main {
    position: relative;
    display: block;
    height: 600px;
    width: 500px;
    padding: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
.input-container label {
    font-weight: bold;
}
.input-container input, .input-container select, .input-container textarea {
    display: inline-block;
    padding: 1rem;
    border-radius: 4px;
    background-color: #ddd;
}
.input-container select {
    position: relative;
    height: 3.2rem;
    appearance: initial;
}

.buttons-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.buttons-area button {
    padding: 1rem;
    border-radius: 1rem;
    min-width: 10rem;
    background-color: rgb(50, 180, 72);
    color: rgb(12, 120, 72);
    font-weight: bold;
}

.items-menu.hidden {
    transform: translateX(30px);
    opacity: 0;
    pointer-events: none;
    transition: transform .3s ease-in-out, opacity .1s ease-in;
}

.items-menu {
    position: absolute;
    top: 7rem;
    right: 7rem;
    min-height: 2rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0;
    border-radius: 4px;
    border: 1px solid #aaa;
    transition: transform .1s ease-in-out, opacity .3s ease-in;
}
.items-menu::after {
    content: "";
    position: absolute;
    display: block;
    right: -.5rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    z-index: 1;
}
.items-menu button {
    display: block;
    flex: 1;
    min-height: 2rem;
    width: 100%;
    text-align: left;
    z-index: 1000;
}
.items-menu button:hover {
    background-color: #ccc;
}
.items-menu button span {
    visibility: hidden;
}
.items-menu button.hidden {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    z-index: -1;
}