
body > main, section {
    background-color: transparent;
}

main {
    margin-top: 1rem;
    padding: 1rem;
}

main section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
main section a {
    text-decoration: none;
}
main section article {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 0 15px #bbb;
    border-bottom: 5px solid #ccc;
}
main section article.negative {
    border-bottom: 5px solid #f88;
}
main section article.positive {
    border-bottom: 5px solid #3b3;
}
main section article .value {
    opacity: .5;
}
main section article:hover {
    box-shadow: 0 0 7px #bbb;
}

@media screen and (width < 720px) {
    main section {
        justify-content: center;
        align-items: center;
    }
}